<nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">
        <img src="https://lh3.googleusercontent.com/proxy/eK3Bqjv8U5nmyXJyOgQ7cns-Z1LdhHfa2aM61WoafeEoogpkfJ3RQJGV7HdjMjE7a1UAPRIGUcR0XHWhykQlErLfI0dedTr6wZjWewmNFEfWid67BEozbczqEfrgJi90BC58zN_qguY" width="140" height="60" class="d-inline-block align-top" alt=""
            loading="lazy">
        <h1 class=" text-white" id="titulopricipal">Repuestos Unisabaneta</h1>

    </a>
</nav>
<div class="container">
    <br>
    <br>
    <br>
    <h4 class="text-center text-white">Seleccione que tipo de transporte usa:</h4>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                </div>
                <div class="col hs-wrapper">
                    <img src="assets/img/carros.jpeg" (click)="openModalCar(content,carro)" id="imagenes" alt="">
                    <div class="hs-overlay">
                        <br>
                        <br>
                        <br>
                        <h1 class="texte-white text-center">Carro </h1>
                    </div>
                </div>
                <div class="col hs-wrapper2">
                    <img src="assets/img/motos.jpeg" (click)="openModalmotorcycle(content1,moto)" id="imagenes2" alt="">
                    <div class="hs-overlay2">
                        <br>
                        <br>
                        <br>
                        <h1 class="texte-white text-center">Moto </h1>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>

    <!-- template modal del carro -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="modal-basic-title">Transporte: Carro</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <h5 class="text-center">Ingrese la marca de su carro</h5>
            <select name="" id="" #marcac class="form-control">
            <option value="">Seleccione</option>
            <option *ngFor="let marcaCarro of marcasCarro" [value]='marcaCarro' >{{marcaCarro}}</option>
        </select>
        </div>
        <div class="modal-body">
            <h5 class="text-center">Ingrese el accesorio de su carro</h5>
            <select name="" id="" #accesorioc (click)="datosCarro(carros,marcac,accesorioc)" class="form-control">
            <option value="">Seleccione</option>
            <option *ngFor="let accesorioCarro of accesoriosCarro" [value]='accesorioCarro' >{{accesorioCarro}}</option>
        </select>
        </div>
        <div class="modal-footer text-center">
            <button type="button" class="btn btn-primary form-control " [disabled]="!btnDesiable" (click)="predecirCarro()">Predecir</button>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <ngb-progressbar [showValue]="true" type="info" [value]="progreso"></ngb-progressbar>
                </p>
            </div>
        </div>
        <div *ngIf="divCarro" class="bg-primary" id="divCarro">
            <div class="row">
                <div class="col">
                    <h5 class="text-center text-white">El mejor precio para el accesorio {{accesorio}} de tu Automovil {{marca}} es:</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="text-center text-white">{{precio| currency}}</h3>
                    <h5 class="text-center text-white">Lo puedes encontrar en el establecimiento: {{establecimiento}} </h5>
                </div>
            </div>
        </div>
    </ng-template>
    <!-- template modal de la moto -->
    <ng-template #content1 let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="modal-basic-title">Transporte: Moto</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <h5 class="text-center">Ingrese la marca de su moto</h5>
            <select name="" id="" #marcam class="form-control">
            <option value="">Seleccione</option>
            <option *ngFor="let marcaMoto of marcasMoto" [value]='marcaMoto' >{{marcaMoto}}</option>
        </select>
        </div>
        <div class="modal-body">
            <h5 class="text-center">Ingrese el accesorio de su moto</h5>
            <select name="" id="" #accesoriom (click)="datosMoto(motos,marcam,accesoriom)" class="form-control">
            <option value="">Seleccione</option>
            <option *ngFor="let accesorioMoto of accesoriosMoto" [value]='accesorioMoto' >{{accesorioMoto}}</option>
        </select>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary form-control " [disabled]="!btnDesiable" (click)="predecirMoto()">Predecir</button>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    <ngb-progressbar [showValue]="true" type="info" [value]="progreso1"></ngb-progressbar>
                </p>
            </div>
        </div>
        <div *ngIf="divMoto" class="bg-primary" id="divMoto">
            <div class="row">
                <div class="col">
                    <h4 class="text-center text-white">El mejor precio para el accesorio {{accesorio}} de tu Moto {{marca}} es:</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="text-center text-white">{{precio | currency}}</h3>
                </div>
            </div>
        </div>
    </ng-template>
</div>